<div class="container">
    <table class="header">
        <td class="header-left">
            <h1 class="mat-headline">
                <button mat-icon-button color="primary" class="back-button" (click)="onBackButtonClick()">
                    <mat-icon>arrow_back</mat-icon>
                </button><span class="window-title">Your cart</span>
            </h1>
        </td>
        <td class="header-right">
            <span class="grand-total-caption mat-subheading-2">GRAND TOTAL: </span>
            <span class="grand-total mat-subheading-2"><b>{{cartTotal().toFixed(2)}} RON</b></span>
            <button mat-button [disabled]="!canPlaceOrder()" (click)="onClearCartClick()" color="primary">CLEAR
                CART</button>&nbsp;
            <button mat-raised-button [disabled]="!canPlaceOrder()" (click)="onPlaceOrderClick()" color="primary">PLACE ORDER</button>
        </td>
    </table>
    <div class="items mat-elevation-z8">
        <table mat-table [dataSource]="cartItems" class="mat-elevation-z8 table-striped">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> PRODUCT NAME </th>
                <td mat-cell *matCellDef="let element"> {{element.item.name}} </td>
            </ng-container>

            <ng-container matColumnDef="unitprice">
                <th mat-header-cell *matHeaderCellDef> UNIT PRICE </th>
                <td mat-cell *matCellDef="let element"> {{element.item.unitprice.toFixed(2)}} RON / {{element.item.uom}}
                </td>
            </ng-container>

            <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef> QUANTITY </th>
                <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> TOTAL PRICE </th>
                <td mat-cell *matCellDef="let element"> {{(element.qty * element.item.unitprice.toFixed(2)).toFixed(2)}}
                    RON</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> ACTIONS </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="onDeleteItemClick(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="fetchHeader()"></tr>
            <tr mat-row *matRowDef="let row; columns: fetchHeader();"></tr>
        </table>
    </div>

</div>