.container {
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    background-image: url("../../../../assets/images/warehouse_blur.png");
    background-position: center;
    height: 100%;
    overflow-y: scroll;
}

.items {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 90px 40px 40px 40px;
    background-color: rgba(255, 255, 255, 0.25);
    overflow: auto;
}

.mat-table {
    display: table;
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.35);
    flex: 1 1 auto;
}

.back-button {
    vertical-align: middle;
    margin-right: 10px;
}

.header {
    width: 100%;
}

.header-right mat-icon {
    vertical-align: sub;
}

.header-status {
    margin-right: 10px;
}

.header-left {
    width: 50%;
}

.header-right {
    vertical-align: top;
    width: 49%;
    text-align: right;
}

.mat-column-actions {
    width: 100px;
    min-width: 100px;
}

.mat-column-stock,
.mat-column-available {
    width: 150px;
    min-width: 150px;
}

.mat-column-sku,
.mat-column-ean {
    width: 200px;
    min-width: 200px;
}

.mat-column-name {
    min-width: 200px;
}

.mat-column-unitprice {
    width: 200px;
    min-width: 200px;
}

.mat-column-ean {
    width: 200px;
    min-width: 200px;
}
