<div class="container" [hidden]="submitted">
    <div class="mat-headline">Create an account</div>
    <div class="mat-body">In order to register an user, we need their name, e-mail address and password. Please enter
        them below.<br><br>
    </div>
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input type="text" [disabled]="!inputEnabled" [(ngModel)]="model.firstName" name="firstName" required
                    matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input type="text" [disabled]="!inputEnabled" [(ngModel)]="model.lastName" name="lastName" required
                    matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>E-mail address</mat-label>
                <input type="text" [disabled]="!inputEnabled" [(ngModel)]="model.email" name="email" required matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" [disabled]="!inputEnabled" [(ngModel)]="model.hash" name="password" required
                    matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Verify password</mat-label>
                <input type="password" [disabled]="!inputEnabled" [(ngModel)]="verifyPassword" name="verifyPassword"
                    required matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Account type</mat-label>
                <select matNativeControl [(ngModel)]="model.role" name="role">
                    <option *ngFor="let role of roles" ([value])="role">{{ role }}</option>
                </select>
            </mat-form-field>
        </div>
        <button type="submit" [disabled]="!f.form.valid || !inputEnabled || model.hash != verifyPassword"
            [hidden]="submitted" class="signup-button" matTooltip="Sign up" mat-fab color="primary">
            <mat-icon>person_add_alt_1</mat-icon>
        </button>
    </form>
</div>
<div class="container" [hidden]="!submitted">
    <div class="submitted-container">
        <div class="mat-headline">
            <mat-icon style="vertical-align: middle;">person_add_alt_1</mat-icon>&nbsp;Your account has been registered
            successfully.
        </div>
        <button mat-raised-button color="primary" (click)="navigateToHomepage()" cdkFocusInitial>GO TO THE HOMEPAGE</button>
    </div>
</div>
<img class="img-keychain" src="../../../../assets/images/keychain.png">