<div class="container" [hidden]="submitted">
    <div class="mat-headline">Create an account</div>
    <div class="mat-body">In order to register an user, we need their name, e-mail address and password. Please enter
        them below.<br><br>
    </div>
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input type="text" [disabled]="!inputEnabled" [(ngModel)]="model.firstName" name="firstName" required
                    matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input type="text" [disabled]="!inputEnabled" [(ngModel)]="model.lastName" name="lastName" required
                    matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>E-mail address</mat-label>
                <input type="text" [disabled]="!inputEnabled" [(ngModel)]="model.email" name="email" required matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" [disabled]="!inputEnabled" [(ngModel)]="model.password" name="password" required
                    matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Verify password</mat-label>
                <input type="password" [disabled]="!inputEnabled" [(ngModel)]="model.verifyPassword"
                    name="verifyPassword" required matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Account type</mat-label>
                <select matNativeControl [disabled]="!inputEnabled" [(ngModel)]="model.role" required name="role">
                    <option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>
                </select>
            </mat-form-field>
        </div>
        <div *ngIf="model.role == 'Customer'">
            <mat-form-field appearance="fill">
                <mat-label>On behalf of</mat-label>
                <select matNativeControl [disabled]="!inputEnabled" [(ngModel)]="model.company" required name="company">
                    <option *ngFor="let company of companies" [ngValue]="company">{{ company.name }}</option>
                </select>
            </mat-form-field>
            <div style="display: inline; vertical-align: super;">
                <button type="button" class="btn-add-company" [disabled]="!inputEnabled" (click)="addCompany()"
                    matTooltip="Add company" matTooltipPosition="below" mat-mini-fab color="primary">
                    <mat-icon>add</mat-icon>
                </button>
                <button type="button" class="btn-edit-company" (click)="editCompany()" matTooltip="Edit company"
                    [disabled]="!inputEnabled || model.company == null" matTooltipPosition="below" mat-mini-fab
                    color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>
        <button type="submit"
            [disabled]="!f.form.valid || !inputEnabled || model.password != model.verifyPassword || (model.role == 'Customer' && model.company == null)"
            [hidden]="submitted" class="signup-button" matTooltip="Sign up" mat-fab color="primary">
            <mat-icon>person_add_alt_1</mat-icon>
        </button>
    </form>
</div>
<div class="container" [hidden]="!submitted">
    <div class="submitted-container">
        <div class="mat-headline">
            <mat-icon style="vertical-align: middle;">person_add_alt_1</mat-icon>&nbsp;Your account has been registered
            successfully.
        </div>
        <button mat-raised-button color="primary" (click)="navigateToHomepage()" cdkFocusInitial>GO TO THE
            HOMEPAGE</button>
    </div>
</div>
<img class="img-keychain" src="../../../../assets/images/keychain.png">