.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.header {
    z-index: 9000;
}

.nav-bar-button {
    height: 50px;
    background-color: #F6900E;
    color: #5b2f05;
}

.mat-tab-nav-bar {
    background-color: #F6900E;
    border-bottom: 2px solid #be6e19;
}

.label-icon {
    padding-right: 5px
}

.btn-login, .btn-signup, .btn-account {
    display: block !important;
    overflow-x: hidden !important;
    text-overflow: ellipsis;
    max-width: 130px;
}

.content {
    height: 100%;
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
}

/deep/ router-outlet~* {
    position: absolute;
    width: 100%;
    height: 100%;
}