.container {
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    background-image: url("../../../../assets/images/warehouse_blur.png");
    background-position: center;
    height: 100%;
    overflow: auto;
}

.items {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 90px 40px 40px 40px;
    background-color: rgba(255, 255, 255, 0.25);
    overflow: auto;
}

.mat-table {
    display: table;
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.35);
    flex: 1 1 auto;
    width: 100%;
}

.mat-column-select {
    width: 50px;
    min-width: 50px;
}

.mat-column-actions {
    width: 50px;
    min-width: 50px;
}

.mat-column-sku,
.mat-column-ean {
    width: 200px;
    min-width: 200px;
}

.mat-column-name {
    min-width: 200px;
}

.mat-column-unitprice {
    width: 200px;
    min-width: 200px;
}

.mat-column-ean {
    width: 200px;
    min-width: 200px;
}

.header {
    width: 100%;
}

.header-right mat-icon {
    vertical-align: sub;
}

.header-status {
    margin-right: 10px;
}

.header-left {
    width: 50%;
}

.header-right {
    vertical-align: top;
    width: 20%;
    text-align: right;
}

.mat-mini-fab {
    margin-left: 10px;
}
