<form [formGroup]="form">
    <div mat-dialog-title>
        <mat-icon aria-hidden="false" style="vertical-align: middle;">edit</mat-icon>
        Edit company
    </div>
    <mat-dialog-content>
        <mat-form-field [style.width.%]=100 appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name">
            <mat-error>Required field</mat-error>
        </mat-form-field>
        <mat-form-field [style.width.%]=100 appearance="fill">
            <mat-label>Address</mat-label>
            <textarea type="text" matInput formControlName="address"></textarea>
            <mat-error>Required field</mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onCancelClick()">CANCEL</button>
        <button type="submit"
            [disabled]="!form.valid || form.controls['name'].value == '' || form.controls['address'].value == ''"
            mat-raised-button color="primary" [mat-dialog-close]="true">OK</button>
    </mat-dialog-actions>
</form>