<div class="container" [hidden]="authenticator.isLoggedIn()">
    <div class="mat-headline">Welcome back!</div>
    <div class="mat-body">To log in, please enter your credentials below.<br><br></div>
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>E-mail address</mat-label>
                <input type="text" [disabled]="!inputEnabled" [(ngModel)]="model.email" name="email" required matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" [disabled]="!inputEnabled" [(ngModel)]="model.hash" name="password" required matInput>
            </mat-form-field>
        </div>
        <button type="submit" [disabled]="!f.form.valid || !inputEnabled" [hidden]="!authenticator.isLoggedIn()" class="login-button" matTooltip="Log In" mat-fab color="primary">
            <mat-icon>login</mat-icon>
        </button>
    </form>
</div>
<div class="container" [hidden]="!authenticator.isLoggedIn()">
    <div class="authenticated-container">
        <div class="mat-headline">
            <mat-icon>check</mat-icon> Hello there, {{userName}}!
        </div>
        <button mat-raised-button (click)="logOut()" color="primary" cdkFocusInitial>LOG OUT</button>
    </div>
</div>
<img class="img-keychain" src="../../../../assets/images/keychain.png">