.container
{
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    background-image: url('../../../../assets/images/warehouse_blur.png');
    background-position: center;
    height: 100%;
    overflow-y: scroll;
}