.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.mat-flat-button
{
    height: 50px;
}

.label-icon
{
    padding-right: 5px
}

.content
{
    height: 100%;
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
}

/deep/ router-outlet ~ * {
    position: absolute;
    width: 100%;
    height: 100%;
}