mat-dialog-actions {
    justify-content: flex-end;
}

zxing-scanner {
    margin-top: 10px;
    margin-bottom: 10px;
}

[hidden] {
    display: none !important;
}

.scanner-status {
    margin-bottom: 20px;
}

.scanner-status mat-icon {
    vertical-align:middle;
}