<form [formGroup]="form">
    <div mat-dialog-title>
        <mat-icon aria-hidden="false" style="vertical-align: middle;">manage_accounts</mat-icon>
        Reset your account password
    </div>
    <mat-dialog-content>
        <mat-form-field [style.width.%]=100 appearance="fill">
            <mat-label>Current password</mat-label>
            <input type="password" required matInput formControlName="oldPassword">
        </mat-form-field>
        <mat-form-field [style.width.%]=100 appearance="fill">
            <mat-label>New password</mat-label>
            <input type="password" required matInput formControlName="newPassword">
        </mat-form-field>
        <mat-form-field [style.width.%]=100 appearance="fill">
            <mat-label>Verify new password</mat-label>
            <input type="password" required matInput formControlName="verifyNewPassword">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [disabled]="form.disabled" (click)="onCancelClick()">CANCEL</button>
        <button type="submit"
            [disabled]="!form.valid || (this.form.controls['newPassword'].value != this.form.controls['verifyNewPassword'].value)"
            (click)="onSubmitClick()" mat-raised-button color="primary">OK</button>
    </mat-dialog-actions>
</form>