<form [formGroup]="form">
    <div mat-dialog-title>
        <mat-icon aria-hidden="false" style="vertical-align: middle;">manage-accounts</mat-icon>
        Reset your account password
    </div>
    <mat-dialog-content>
        <mat-form-field [style.width.%]=100 appearance="fill">
            <mat-label>Current password</mat-label>
            <input type="password" matInput formControlName="name">
            <mat-error>Required field</mat-error>
        </mat-form-field>
        <mat-form-field [style.width.%]=100 appearance="fill">
            <mat-label>New password</mat-label>
            <input type="password" matInput formControlName="name">
            <mat-error>Required field</mat-error>
        </mat-form-field>
        <mat-form-field [style.width.%]=100 appearance="fill">
            <mat-label>Verify new password</mat-label>
            <input type="password" matInput formControlName="name">
            <mat-error>Required field</mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onCancelClick()">CANCEL</button>
        <button type="submit" [disabled]="!form.valid || form.controls['name'].value == '' || form.controls['address'].value == ''" mat-raised-button color="primary"
            [mat-dialog-close]="true">OK</button>
    </mat-dialog-actions>
</form>